*{
  margin: 0;
  padding: 0;
}
body{
  background-color: black;
  color: white;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}
p{
  margin-bottom: 10px;
}
/*Grid part */
.grid{
  color: black;
  background-color:lightgreen;
  margin-left: 700px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100px;
  text-align: center;
  border: 2px dotted;
  border-radius: 5px;
  font-style: normal;
}
.grid:hover{
  color: crimson;
  background-color:whitesmoke;
  font-style: italic;
  font-weight: 900;
  border-radius: 10px;
}